@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-primary); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #53baff;
  border-radius: 3px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2b87c3; }

canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  transition: opacity 1.5s; }

main {
  padding: 1rem;
  min-height: 100vh;
  background: var(--bg-primary);
  color: var(--bg-contrast);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23618bc3' fill-opacity='0.03' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
  transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1);
  overflow-x: auto; }
  main h1 {
    font-size: 1.2em; }

#board {
  position: relative;
  margin-top: 1rem;
  display: flex;
  align-items: flex-start;
  z-index: 2; }
  #board h2 {
    font-size: 1em;
    color: var(--bg-contrast);
    transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }

.list__container {
  flex: 1;
  max-width: 335px;
  min-width: 250px;
  min-height: 10ch;
  margin-right: 15px;
  padding: 0.7rem;
  background: var(--bg-list);
  transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column; }
  .list__container header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .list__container header button {
      position: relative;
      display: inline-block;
      padding: 4px;
      margin-left: 5px;
      line-height: 1;
      color: var(--color-text-secondary);
      vertical-align: middle;
      background: transparent;
      border: 0;
      cursor: pointer;
      outline: none;
      transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
      .list__container header button svg {
        fill: var(--bg-contrast);
        fill-opacity: 0.5;
        transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
        .list__container header button svg:hover {
          fill: #53baff; }
      .list__container header button:hover:before, .list__container header button:hover:after {
        display: flex; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
      .list__container header button:before, .list__container header button:after {
        display: none;
        position: absolute;
        opacity: 0;
        animation: fadein 0.2s forwards;
        animation-delay: 0.6s; }
      .list__container header button:before {
        content: "Add new todo";
        right: calc(100% + 0.3em);
        top: 0;
        height: 100%;
        width: 12ch;
        align-items: center;
        justify-content: center;
        color: white;
        background: #222222;
        border-radius: 0.5em; }
      .list__container header button:after {
        content: "";
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #222222; }

.list {
  flex: 1;
  margin: 0;
  padding: 0;
  padding-top: 0.7rem;
  list-style: none;
  outline: none;
  position: relative; }
  .list:before {
    content: "Drag cards here";
    position: absolute;
    top: 1.2em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    color: var(--bg-contrast);
    transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
  .list .card,
  .list .card--editable {
    position: relative; }
    .list .card:not(:first-child),
    .list .card--editable:not(:first-child) {
      margin-top: 0.7rem; }
  .list .card {
    cursor: move; }
    .list .card article {
      padding: 1em 1.5em;
      border-radius: 0.5rem;
      background: var(--bg-card);
      border: 1px solid var(--card-border);
      transition: border 0.2s;
      display: flex;
      align-items: center;
      color: var(--bg-contrast);
      transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
      .list .card article .title {
        flex: 1; }
      .list .card article .trash-btn button {
        width: 23px;
        height: 23px;
        background: transparent;
        appearance: none;
        border: none;
        pointer-events: all;
        opacity: 0;
        cursor: pointer;
        transition: 0.2s;
        color: inherit;
        transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
        .list .card article .trash-btn button svg {
          transition: 0.2s;
          color: inherit; }
        .list .card article .trash-btn button:hover svg {
          color: #e71c1c; }
      .list .card article:hover {
        border: 1px solid var(--card-border--hover); }
        .list .card article:hover button {
          opacity: 1; }
  .list .card--editable .card-buttons {
    width: 100%;
    margin-top: 0.5em;
    display: flex; }
    .list .card--editable .card-buttons button {
      flex: 1;
      position: relative;
      display: inline-block;
      padding: 5px 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid;
      border-radius: 6px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-color: #1b1f2326;
      transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
      .list .card--editable .card-buttons button.primary {
        color: white;
        background: #53baff;
        transition: 0.2s; }
        .list .card--editable .card-buttons button.primary:disabled {
          opacity: 0.35; }
      .list .card--editable .card-buttons button.secondary {
        background: var(--bg-card);
        margin-left: 4px;
        color: var(--bg-contrast); }
  .list .card--editable textarea {
    height: 59px;
    width: 100%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: var(--bg-contrast);
    vertical-align: middle;
    background: var(--bg-card);
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid var(--card-border);
    border-radius: 6px;
    outline: none;
    box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
    resize: vertical;
    transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
    .list .card--editable textarea::placeholder {
      color: inherit;
      opacity: 0.5; }

.draggable-mirror {
  z-index: 9999; }
  .draggable-mirror article {
    border: 1px solid #53baff;
    box-shadow: 0 0 0 3px rgba(83, 186, 255, 0.301);
    transform: rotate(5deg); }

.draggable-source--is-dragging {
  background: var(--bg-card) !important;
  filter: brightness(0.9);
  position: relative;
  border-radius: 0.5rem;
  transition: 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
  .draggable-source--is-dragging article {
    display: none;
    opacity: 0;
    visibility: hidden; }

theme-toggle {
  width: 48px;
  height: 48px;
  top: 10px;
  right: 10px;
  position: absolute;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.25;
  cursor: pointer;
  z-index: 9999; }
  theme-toggle .moon {
    width: 30px;
    z-index: 99;
    color: #000;
    transition: width 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
    theme-toggle .moon .moon-circle {
      transition: transform 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
  theme-toggle.dark .moon {
    width: 20px;
    color: #fff; }
  theme-toggle.dark .moon-circle {
    transform: translate(10px); }
  theme-toggle:hover, theme-toggle:focus {
    opacity: 1; }
  theme-toggle div {
    position: absolute;
    background: #f5f5f5;
    transition: transform 0.2s cubic-bezier(0.89, 0.01, 0.09, 1), background 0.2s cubic-bezier(0.89, 0.01, 0.09, 1), opacity 0.2s cubic-bezier(0.89, 0.01, 0.09, 1); }
  theme-toggle .ray {
    width: 6px;
    height: 2px;
    border-radius: 2px; }
  theme-toggle .ray.one {
    transform: rotate(0deg) translateX(14px); }
  theme-toggle .ray.two {
    transform: rotate(45deg) translateX(14px); }
  theme-toggle .ray.three {
    transform: rotate(90deg) translateX(14px); }
  theme-toggle .ray.four {
    transform: rotate(135deg) translateX(14px); }
  theme-toggle .ray.five {
    transform: rotate(180deg) translateX(14px); }
  theme-toggle .ray.six {
    transform: rotate(225deg) translateX(14px); }
  theme-toggle .ray.seven {
    transform: rotate(270deg) translateX(14px); }
  theme-toggle .ray.eight {
    transform: rotate(315deg) translateX(14px); }
  theme-toggle.light .ray {
    transform: scaleX(0.01);
    opacity: 0; }
